# Copyright 2018-2021 the original author or authors.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

api = "0.7"

[buildpack]
  description = "A Cloud Native Buildpack that provides the Microsoft OpenJDK implementations of JREs and JDKs"
  homepage = "https://github.com/paketo-buildpacks/microsoft-openjdk"
  id = "paketo-buildpacks/microsoft-openjdk"
  keywords = ["java", "jvm", "jre", "jdk"]
  name = "Paketo Buildpack for Microsoft OpenJDK"
  sbom-formats = ["application/vnd.cyclonedx+json", "application/vnd.syft+json"]
  version = "{{.version}}"

  [[buildpack.licenses]]
    type = "Apache-2.0"
    uri = "https://github.com/paketo-buildpacks/microsoft-openjdk/blob/main/LICENSE"

[metadata]
  include-files = ["LICENSE", "NOTICE", "README.md", "linux/amd64/bin/build", "linux/amd64/bin/detect", "linux/amd64/bin/main", "linux/amd64/bin/helper", "linux/arm64/bin/build", "linux/arm64/bin/detect", "linux/arm64/bin/main", "linux/arm64/bin/helper", "buildpack.toml"]
  pre-package = "scripts/build.sh"

  [[metadata.configurations]]
    default = "0"
    description = "the headroom in memory calculation"
    launch = true
    name = "BPL_JVM_HEAD_ROOM"

  [[metadata.configurations]]
    default = "35% of classes"
    description = "the number of loaded classes in memory calculation"
    launch = true
    name = "BPL_JVM_LOADED_CLASS_COUNT"

  [[metadata.configurations]]
    default = "250"
    description = "the number of threads in memory calculation"
    launch = true
    name = "BPL_JVM_THREAD_COUNT"

  [[metadata.configurations]]
    default = ""
    description = "write heap dumps on error to this path"
    launch = true
    name = "BPL_HEAP_DUMP_PATH"

  [[metadata.configurations]]
    default = "true"
    description = "enables Java Native Memory Tracking (NMT)"
    launch = true
    name = "BPL_JAVA_NMT_ENABLED"

  [[metadata.configurations]]
    default = "summary"
    description = "configure level of NMT, summary or detail"
    launch = true
    name = "BPL_JAVA_NMT_LEVEL"

  [[metadata.configurations]]
    default = "false"
    description = "enables Java Management Extensions (JMX)"
    launch = true
    name = "BPL_JMX_ENABLED"

  [[metadata.configurations]]
    default = "5000"
    description = "configure the JMX port"
    launch = true
    name = "BPL_JMX_PORT"

  [[metadata.configurations]]
    default = "false"
    description = "enables Java remote debugging support"
    launch = true
    name = "BPL_DEBUG_ENABLED"

  [[metadata.configurations]]
    default = "8000"
    description = "configure the remote debugging port"
    launch = true
    name = "BPL_DEBUG_PORT"

  [[metadata.configurations]]
    default = "false"
    description = "configure whether to suspend execution until a debugger has attached"
    launch = true
    name = "BPL_DEBUG_SUSPEND"

  [[metadata.configurations]]
    default = "false"
    description = "enables Java Flight Recording (JFR)"
    launch = true
    name = "BPL_JFR_ENABLED"

  [[metadata.configurations]]
    default = ""
    description = "configure custom Java Flight Recording (JFR) arguments"
    launch = true
    name = "BPL_JFR_ARGS"

  [[metadata.configurations]]
    build = true
    default = "false"
    description = "enables running jlink tool to generate custom JRE"
    name = "BP_JVM_JLINK_ENABLED"

  [[metadata.configurations]]
    build = true
    default = "--no-man-pages --no-header-files --strip-debug --compress=1"
    description = "configure custom link arguments (--output must be omitted)"
    name = "BP_JVM_JLINK_ARGS"

  [[metadata.configurations]]
    build = true
    default = "21"
    description = "the Java version"
    name = "BP_JVM_VERSION"

  [[metadata.configurations]]
    build = true
    default = "JRE"
    description = "the JVM type - JDK or JRE"
    name = "BP_JVM_TYPE"

  [[metadata.configurations]]
    description = "the JVM launch flags"
    launch = true
    name = "JAVA_TOOL_OPTIONS"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:oracle:jdk:1.8.0:update472:*:*:*:*:*:*:*"]
    id = "jdk"
    name = "Adoptium JDK"
    purl = "pkg:generic/adoptium/temurin@8.0.472?arch=amd64"
    sha256 = "5becaa4ac660e844c5a39e2ebc39ff5ac824c37ff1b625af8c8b111dc13c3592"
    source = "https://github.com/adoptium/temurin8-binaries/releases/download/jdk8u472-b08/OpenJDK8U-jdk-sources_8u472b08.tar.gz"
    source-sha256 = "23564b0c6de8c233723c8c95f6f950a35a791df01bbe25424551c8f329f395ca"
    stacks = ["*"]
    uri = "https://github.com/adoptium/temurin8-binaries/releases/download/jdk8u472-b08/OpenJDK8U-jdk_x64_linux_hotspot_8u472b08.tar.gz"
    version = "8.0.472"

    [[metadata.dependencies.licenses]]
      type = "GPL-2.0 WITH Classpath-exception-2.0"
      uri = "https://openjdk.java.net/legal/gplv2+ce.html"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:oracle:jdk:11.0.30:*:*:*:*:*:*:*"]
    id = "jdk"
    name = "Microsoft OpenJDK"
    purl = "pkg:generic/microsoft/openjdk@11.0.30?arch=amd64"
    sha256 = "30b1cac2c4f8b43ef6d74f965e0d6fdbc22fe54d34ac75cf05976ed5ae2d3848"
    stacks = ["*"]
    uri = "https://aka.ms/download-jdk/microsoft-jdk-11.0.30-linux-x64.tar.gz"
    version = "11.0.30"

    [[metadata.dependencies.licenses]]
      type = "GPL-2.0 WITH Classpath-exception-2.0"
      uri = "https://openjdk.java.net/legal/gplv2+ce.html"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:oracle:jdk:17.0.18:*:*:*:*:*:*:*"]
    id = "jdk"
    name = "Microsoft OpenJDK"
    purl = "pkg:generic/microsoft/openjdk@17.0.18?arch=amd64"
    sha256 = "0b0bc896d89a1741bbf3e7525addf9280b1aa3e13abb3183d19d98c0f2fbd1cc"
    stacks = ["*"]
    uri = "https://aka.ms/download-jdk/microsoft-jdk-17.0.18-linux-x64.tar.gz"
    version = "17.0.18"

    [[metadata.dependencies.licenses]]
      type = "GPL-2.0 WITH Classpath-exception-2.0"
      uri = "https://openjdk.java.net/legal/gplv2+ce.html"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:oracle:jdk:21.0.10:*:*:*:*:*:*:*"]
    id = "jdk"
    name = "Microsoft OpenJDK"
    purl = "pkg:generic/microsoft/openjdk@21.0.10?arch=amd64"
    sha256 = "18ca81d9cbca9b34eb3976c515310dc025efeb23c90616e3faa61c275acf60fd"
    stacks = ["*"]
    uri = "https://aka.ms/download-jdk/microsoft-jdk-21.0.10-linux-x64.tar.gz"
    version = "21.0.10"

    [[metadata.dependencies.licenses]]
      type = "GPL-2.0 WITH Classpath-exception-2.0"
      uri = "https://openjdk.java.net/legal/gplv2+ce.html"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:oracle:jdk:25.0.2:*:*:*:*:*:*:*"]
    id = "jdk"
    name = "Microsoft OpenJDK"
    purl = "pkg:generic/microsoft/openjdk@25.0.2?arch=amd64"
    sha256 = "3ed688a48c9b9295e67f074a5d201f761af15f83a2e003e5d8fd6dd93c18a10a"
    stacks = ["*"]
    uri = "https://aka.ms/download-jdk/microsoft-jdk-25.0.2-linux-x64.tar.gz"
    version = "25.0.2"

    [[metadata.dependencies.licenses]]
      type = "GPL-2.0 WITH Classpath-exception-2.0"
      uri = "https://openjdk.java.net/legal/gplv2+ce.html"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:oracle:jdk:1.8.0:update472:*:*:*:*:*:*"]
    id = "jdk"
    name = "Adoptium JDK"
    purl = "pkg:generic/adoptium-jdk@8.0.472?arch=arm64"
    sha256 = "e2aff19d85d2441e409d6cbdf12ef7c2acabb0de73bca4207947135dcaa935a2"
    source = "https://github.com/adoptium/temurin8-binaries/releases/download/jdk8u472-b08/OpenJDK8U-jdk-sources_8u472b08.tar.gz"
    source-sha256 = "23564b0c6de8c233723c8c95f6f950a35a791df01bbe25424551c8f329f395ca"
    stacks = ["*"]
    uri = "https://github.com/adoptium/temurin8-binaries/releases/download/jdk8u472-b08/OpenJDK8U-jdk_aarch64_linux_hotspot_8u472b08.tar.gz"
    version = "8.0.472"

    [[metadata.dependencies.licenses]]
      type = "GPL-2.0 WITH Classpath-exception-2.0"
      uri = "https://openjdk.java.net/legal/gplv2+ce.html"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:oracle:jdk:11.0.29:*:*:*:*:*:*:*"]
    id = "jdk"
    name = "Microsoft OpenJDK"
    purl = "pkg:generic/microsoft/openjdk@11.0.29?arch=arm64"
    sha256 = "4edfaf5d39cff3e43c935fd80def4dc2737f0bbe04ed26d26d5ec1352dfd1892"
    stacks = ["*"]
    uri = "https://aka.ms/download-jdk/microsoft-jdk-11.0.29-linux-aarch64.tar.gz"
    version = "11.0.29"

    [[metadata.dependencies.licenses]]
      type = "GPL-2.0 WITH Classpath-exception-2.0"
      uri = "https://openjdk.java.net/legal/gplv2+ce.html"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:oracle:jdk:17.0.17:*:*:*:*:*:*:*"]
    id = "jdk"
    name = "Microsoft OpenJDK"
    purl = "pkg:generic/microsoft/openjdk@17.0.17?arch=arm64"
    sha256 = "15886e98740e52cd16b8d89273fbe4d55a25b74e052c0de28a088669bfc069d4"
    stacks = ["*"]
    uri = "https://aka.ms/download-jdk/microsoft-jdk-17.0.17-linux-aarch64.tar.gz"
    version = "17.0.17"

    [[metadata.dependencies.licenses]]
      type = "GPL-2.0 WITH Classpath-exception-2.0"
      uri = "https://openjdk.java.net/legal/gplv2+ce.html"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:oracle:jdk:21.0.9:*:*:*:*:*:*:*"]
    id = "jdk"
    name = "Microsoft OpenJDK"
    purl = "pkg:generic/microsoft/openjdk@21.0.9?arch=arm64"
    sha256 = "bb6dfbce9d7431c146ca8299ce5e41c37ab7889b1c7cea644fd9e8cb4f74d5b0"
    stacks = ["*"]
    uri = "https://aka.ms/download-jdk/microsoft-jdk-21.0.9-linux-aarch64.tar.gz"
    version = "21.0.9"

    [[metadata.dependencies.licenses]]
      type = "GPL-2.0 WITH Classpath-exception-2.0"
      uri = "https://openjdk.java.net/legal/gplv2+ce.html"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:oracle:jdk:25.0.1:*:*:*:*:*:*:*"]
    id = "jdk"
    name = "Microsoft OpenJDK"
    purl = "pkg:generic/microsoft/openjdk@25.0.1?arch=arm64"
    sha256 = "7c79a2c32d7e685d31870867a6455019d32021f7870905327cb8781d0e377bbf"
    stacks = ["*"]
    uri = "https://aka.ms/download-jdk/microsoft-jdk-25.0.1-linux-aarch64.tar.gz"
    version = "25.0.1"

    [[metadata.dependencies.licenses]]
      type = "GPL-2.0 WITH Classpath-exception-2.0"
      uri = "https://openjdk.java.net/legal/gplv2+ce.html"

[[stacks]]
  id = "*"

[[targets]]
  arch = "amd64"
  os = "linux"

[[targets]]
  arch = "arm64"
  os = "linux"
